@import url("https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primaryColor: #04fff2;
  --textColor: #ffffff;
  --textParagraph: #a7a7a7;
  --secColor: #00aaff;
  --boxSchadow: 10px 10px 6px 0px rgba(8, 216, 243, 0.75);
  --bg-Color: #161616;
  --bg-accent: #313131;
}

/* Placeholder */
/* .placeholder {
  height: 300vh;
} */

body {
  position: relative;
  background-color: var(--bg-Color);
  height: 100vh;
  color: var(--textColor);
  font-family: "Playwrite NO", cursive;
}

/* Reusable */
.section-headline {
  color: var(--textColor);
  font-size: 1rem;
  border-bottom: solid 1px var(--secColor);
  letter-spacing: 0.2rem;
  /* text-transform: uppercase; */
}
.section-paragraph {
  color: var(--textParagraph);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.section-link {
  text-decoration: none;

  color: var(--textColor);
  font-size: 0.9rem;
  transition: color 0.3s ease;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
.sectionBtn {
  text-decoration: none;
  background-color: var(--secColor);
  font-family: inherit;
  color: var(--textColor);
  border-radius: 5px;
  border: solid 2px var(--secColor);
  transition: all 0.5s ease-in-out;
}
.sectionBtn:hover {
  background-color: transparent;
  color: var(--secColor);
}
.invertiert {
  background-color: transparent;
  color: var(--secColor);
}
.invertiert:hover {
  background-color: var(--secColor);
  color: var(--textColor);
}

.sectionWrapper {
  max-width: 95%;
  background-color: var(--bg-Color);
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 2rem;
}

/* Navbar und Header */
.navBar {
  height: 6rem;
  max-width: 100vw;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-link {
  font-size: 1rem;
}
.section-link:hover {
  color: var(--secColor);
}
/* Hero Section */

.heroWrapper {
  /* hier habe ich flex genommen weil es sonst einen tick zu groß wäre */
  display: flex;
  width: 100%;
  height: calc(100vh - 6rem);
  background-color: black;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/menue1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.heroHeadline {
  font-size: 4rem;
  line-height: 4.5rem;
  color: white;
  text-align: center;
}
.heroSecLine {
  color: var(--textParagraph);
  font-size: 1rem;
}
.heroCallToAction {
  padding: 1rem;
}

/* Section about us */

.section-content-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2rem;
  margin: 0 auto;
}
.aboutUsbtn {
  padding: 1rem;
}
.section-content-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto;
}
.about-img-hoch {
  grid-column: 1;
  grid-row: 2 span;
}
.about-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.openings {
  width: 100%;
  padding: 0 3rem;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/openingImg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info .section-headline {
  margin: 0 auto;
  width: fit-content;
}

.openings-container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.opening-content {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  font-size: 0.8rem;
}
.tage {
  color: var(--textParagraph);
}

.kontakt-container {
  display: grid;
  gap: 2rem;
}
.kontakt-content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.kontakt-content .section-headline {
  width: fit-content;
}
.kontakt-content .sectionBtn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.kontakt-btn-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.kontakt-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Footer Section */

.footer {
  background-image: linear-gradient(to top, var(--bg-accent), var(--bg-Color));
  width: 100%;
}
.footer-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}

.footter-wrapper .section-paragraph {
  margin: auto;
}

.footter-wrapper {
  background-color: transparent;
}

/* Media Querries */

@media only screen and (min-width: 600px) {
  .heroHeadline {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .heroSecLine {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .heroCallToAction {
    font-size: 1.2rem;
  }
  .nav-link,
  .section-link {
    font-size: 1rem;
  }
  .section-paragraph {
    font-size: 1.2rem;
  }
  .section-headline {
    font-size: 1.4rem;
  }
  .opening-content {
    font-size: 1rem;
  }
  .kontakt-container {
    column-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .kontakt-content .sectionBtn {
    font-size: 1rem;
    padding: 0.5rem 0.1rem;
  }
  .footer-links-container {
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .heroHeadline {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .heroSecLine {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .heroCallToAction {
    font-size: 1.5rem;
  }
  .nav-link,
  .section-link {
    font-size: 1.3rem;
  }
  .sectionWrapper {
    flex-direction: row;
  }
  .section-paragraph {
    font-size: 1.4rem;
  }
  .section-headline {
    font-size: 2rem;
  }
  .opening-content {
    font-size: 1.3rem;
  }
  .kontakt-content .sectionBtn {
    font-size: 1.3rem;
    padding: 0.5rem 1.3rem;
  }
  .footter-wrapper {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1400px) {
  .sectionWrapper {
    max-width: 1200px;
  }
}
@media only screen and (max-height: 650px) {
  .heroHeadline {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 3rem;
  }
}
